{% extends 'base.html' %}

{% block Title %}Home{% endblock Title %}

{% block nav %}
<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Bucket</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
{% endblock nav %}


{% block body %}
  <div class="container my-5">
        <h1 class="text-center my-2">New Items</h1>
        <div class="d-flex my-5">
        {% for item in items %}
        <div class="card my-2 mx-2" style="width: 25%;">
            <img src="{{ item.image.url }}" class="card-img-center" alt="..">
            <div class="card-body">
            <h3 class="card-title">{{ item.name }}</h3>
            <h5 class="">Price : {{ item.price }}</h5>
            <p class="card-text">{{ item.description }}</p>
            <a href="#" class="btn btn-primary">View</a>
            </div>
        </div>
        {% endfor %}
        </div>
  </div>

  <div class="container my-5">
    <h2 class="text-center my-2">Categories</h2>
    <div class="d-flex my-5">
    {% for category in categories %}
    <div class="card my-2 mx-2" style="width: 25%;">
        <div class="card-body">
        <h3 class="card-title">{{ category.name }}</h3>
        <p class="card-text">{{ category.items.count }} Items</p>
        <a href="#" class="btn btn-primary">View All</a>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock body %}